<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs') %>
<body>
     <%- include('./partials/nav.ejs') %>

    <div class="blogs content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In rem doloribus repudiandae nisi tempore deleniti dolore vel perspiciatis, aperiam sunt impedit quam quis optio, quibusdam expedita iure at eos nostrum?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus vel itaque voluptates quidem magnam amet nobis nemo cumque, fugiat, vitae quaerat. Doloremque fugit officiis dolorum nam! Nam eius voluptatum consequuntur.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus vel itaque voluptates quidem magnam amet nobis nemo cumque, fugiat, vitae quaerat. Doloremque fugit officiis dolorum nam! Nam eius voluptatum consequuntur.</p>
    </div>

     <%- include('./partials/footer.ejs') %>
</body>
</html>