<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs') %>
<body>
     <%- include('./partials/nav.ejs') %>

    <div class="blogs content">
        <h2>About Us</h2>
        <ul>
            <li>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In rem doloribus repudiandae nisi tempore deleniti dolore vel perspiciatis, aperiam sunt impedit quam quis optio, quibusdam expedita iure at eos nostrum?</p>
            </li>
            <li>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In rem doloribus repudiandae nisi tempore deleniti dolore vel perspiciatis, aperiam sunt impedit quam quis optio, quibusdam expedita iure at eos nostrum?</p>
            </li>
            <li>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In rem doloribus repudiandae nisi tempore deleniti dolore vel perspiciatis, aperiam sunt impedit quam quis optio, quibusdam expedita iure at eos nostrum?</p>
            </li>
        </ul>
    </div>

     <%- include('./partials/footer.ejs') %>
</body>
</html>